</br>
</br>
</br>
</br>
<div class='container'>
  <div class="card">
    <div class="card-header">
      <%= t(:current_courses) %>
      <%= link_to t(:completed_Courses), course_users_show_hist_path, style: 'float: right;' %>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#<%= t(:id) %></th>
            <th scope="col"><%= t(:course_name) %></th>
            <th scope="col"><%= t(:user_name) %></th>
            <th scope="col"><%= t(:start_date) %></th>
            <th scope="col"><%= t(:end_date) %></th>
            <th scope="col"><%= t(:actions) %></th>
          </tr>
        </thead>
        <tbody>
          <% @courseusers.each do |course| %>
            <tr>
              <th scope="row"><%= course.course.id %></th>
              <td><%= link_to course.course.nombre, course_path(course.course) %></td>
              <td><%= course.user.nombre %></td>
              <td><%= course.fechainicio %></td>
              <td><%= course.fechafin %></td>
              <td><%= link_to t(:complete), {:controller => "course_users", :action => "finalizar", :id => course.id} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>