</br>
</br>
</br>
</br>
<div class='container'>
  <div class="card">
    <div class="card-header">
      Completed Courses
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Course Name</th>
            <th scope="col">User Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
          </tr>
        </thead>
        <tbody>
          <% @courseusers.each do |course| %>
            <tr>
              <th scope="row"><%= course.course.id %></th>
              <td><%= course.course.nombre %></td>
              <td><%= course.user.nombre %></td>
              <td><%= course.fechainicio %></td>
              <td><%= course.fechafin %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
