<div class="container">
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h1><%= t(:complaints) %></h1>
      </div>
      </br>
      <%= form_for(complaint, html: { id: 'Login', multipart: true }) do |f| %>
        <div class="form-group">
          <%= f.text_field :descripcion, autofocus: true, autocomplete: "descripcion", placeholder: t(:description), class: "form-control", id: "inputEmail" %>
        </div>
        <div class="form-group">
          <%= f.select :complaint_type_id, options_for_select(@complaint_types), {}, { class: "form-control" } %>
        </div>
        <div class="form-group">
          <%= file_field_tag :files %>
        </div>
        <%= hidden_field_tag 'complaint[user_id]', current_user.id %>
        <button type="submit" class="btn btn-primary"><%= t(:save) %></button>
      <% end %>
      </br>
    </div>
    <%= link_to t(:back), root_path %>
  </div>
</div>
