<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div id="postlist">
      <div class="panel">
        <div class="panel-heading">
          <div class="text-center">
            <div class="row">
              <div class="col-sm-9">
                <h3 class="pull-left"><%= @complaint.complaint_type.name %></h3>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-body"><%= @complaint.descripcion %></div>

        <%= render partial: 'shared/show', locals: { header: 'Attachments', attachments: @complaint.attachments } %>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>


<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <h2 class="page-header"><%= t(:complaint_files) %></h2>
      <section class="comment-list">
        <% @complaint.complaintfiles.each do |file| %>
          <article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <% if ['PNG', 'png', 'jpg', 'JPG', 'jepg', 'JEPG'].include?(file.archivo.url.split('.').last) %>
                  <%= image_tag(file.archivo.url, class: "img-responsive")  %>
                <% elsif ['mp4'].include?(file.archivo.url.split('.').last) %>
                  <%= video_tag file.archivo.url, size: "100x80", controls: true %>
                <% end %>
                <figcaption class="text-center"><%= file.user.nombre %></figcaption>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="comment-post">
                    <p><%= file.descripcion %></p>
                  </div>
                  <%= link_to t(:edit), edit_complaintfile_path(file) %>
                  <%= link_to t(:delete), file, method: :delete, data: { confirm: t(:are_you_sure) } %>
                </div>
              </div>
            </div>
          </article>
        <% end %>
      </section>
  </div>
  <div class="col-md-1"></div>
</div>

<%= link_to t(:add_complaint_file), new_complaintfile_path(:complaint_id => @complaint.id) %>
<%= link_to t(:back), :back %>
