<nav class="navbar navbar-expand-lg mb-4 top-bar navbar-static-top sps sps--abv">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse1" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mx-auto" href="#"><%= image_tag('Gryphus.png', width: 50, height: 50) %> Gryphus</a>
    <div class="collapse navbar-collapse" id="navbarCollapse1">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"> <%= link_to t(:english), "#{request.path}?locale=en", class: "nav-link" %></li>
        <li class="nav-item"><%= link_to '|', 'javascript:void(0)', class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t(:spanish), "#{request.path}?locale=es", class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t(:home), root_path, class: "nav-link" %></li>
        <li class="nav-item">
          <%= link_to t(:sign_up), new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t(:login), new_user_session_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Swiper Silder
    ================================================== -->
<!-- Slider main container -->
<div class="swiper-container main-slider" id="myCarousel">
  <div class="swiper-wrapper">
    <div class="swiper-slide slider-bg-position" style="background:url('http://grafreez.com/wp-content/temp_demos/burnout/img/1.jpg')" data-hash="slide1">
      <h2><%= t(:hometext1) %></h2>
    </div>
    <div class="swiper-slide slider-bg-position" style="background:url('http://grafreez.com/wp-content/temp_demos/burnout/img/3.jpg')" data-hash="slide2">
      <h2><%= t(:hometext2) %></h2>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Navigation -->
  <div class="swiper-button-prev"><i class="fa fa-chevron-left"></i></div>
  <div class="swiper-button-next"><i class="fa fa-chevron-right"></i></div>
</div>

<!-- Benefits
    ================================================== -->
<section class="service-sec" id="benefits">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
      <h2><small><%= t(:sentence001) %></small><%= t(:sentence002) %></h2>
    </div>
        </div>
      <div class="col-md-8">
        <div class="row">
            <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-plus" aria-hidden="true"></i>
          <h3><%= t(:title001) %></h3>
          <p><%= t(:sentence003) %></p>
        </div>
        <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-leaf" aria-hidden="true"></i>
          <h3><%= t(:title002) %></h3>
          <p><%= t(:sentence004) %></p>
        </div>
        <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-leaf" aria-hidden="true"></i>
          <h3><%= t(:title003) %></h3>
          <p><%= t(:sentence005) %></p>
        </div>
        <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-bell" aria-hidden="true"></i>
          <h3><%= t(:title004) %></h3>
          <p><%= t(:sentence006) %></p>
        </div>
        </div>
      </div>
      <div class="col-md-4"> <img src="http://grafreez.com/wp-content/temp_demos/burnout/img/side-01.jpg" class="img-fluid" /> </div>
    </div>
    <!-- /.row -->
  </div>
</section>

<!-- About
    ================================================== -->
<section class="about-sec parallax-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2><small><%= t(:title005) %></small><%= t(:title006) %><br>
          <%= t(:title007) %></h2>
      </div>
      <div class="col-md-4">
        <p><%= t(:sentence007) %></p>
        <p><%= t(:sentence008) %></p>
      </div>
      <div class="col-md-4">
        <p><%= t(:sentence009) %></p>
        <p><%= t(:sentence010) %></p>
      </div>
    </div>
  </div>
</section>

 <section class="action-sec">
          <div class="container">
              <div class="action-box text-center"><h2><%= t(:title008) %></h2><a class="btn btn-success" href="http://grafreez.com/394/fitness-website-template/" target="_blank"><%= t(:download) %></a></div>
          </div>
      </section>

