</br>
</br>
</br>
<div class='container'>

  <div class="card">
    <div class="card-header">
      All Available Courses
      <%= link_to 'Enrolled Courses', course_users_show_act_path, style: 'float: right;' %>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#Id</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @courses_available.each do |course| %>
            <tr>
              <th scope="row"><%= course.id %></th>
              <td><%= course.nombre %></td>
              <td><%= link_to "Enroll", {:controller => "course_users", :action => "enroll", :courseid => course.id, :userid => current_user.id} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  </br>
  </br>

  <div class="card">
    <div class="card-header">
      My Complaints
      <%= link_to 'New Complaint', new_complaint_path, style: 'float: right;' %>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#Id</th>
            <th scope="col">Descripcion</th>
            <th scope="col">User Name</th>
            <th scope="col">Address</th>
            <th scope="col">Complaint Date</th>
            <th scope="col">Comments</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @complaint_users.each do |complaint| %>
            <tr>
              <th scope="row"><%= complaint.complaint.id %></th>
              <td><%= complaint.complaint.descripcion %></td>
              <td><%= complaint.user.nombre %></td>
              <td><%= complaint.direccion %></td>
              <td><%= complaint.created_at %></td>
              <td><%= complaint.comentarios %></td>
              <td>
                <%= link_to 'View', complaint %>
                <%= link_to 'Edit', edit_complaint_user_path(complaint) %>
                <%= link_to 'Delete', complaint, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  </br>
  </br>

  <div class="card">
    <div class="card-header">
      All Available Challenges
      <%= link_to 'Enrolled Challenges', challenge_users_show_act_path, style: 'float: right;' %>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#Id</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @challenges_available.each do |challenge| %>
            <tr>
              <th scope="row"><%= challenge.id %></th>
              <td><%= challenge.descripcion %></td>
              <td><%= link_to "Enroll", {:controller => "challenge_users", :action => "enroll", :challengeid => challenge.id, :userid => current_user.id} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  </br>
  </br>
</div>

