<h1>Gryphus</h1>
<p>Ética Ciudadana</p>
<!--
<p class="navbar-text pull-right">
  <% if user_signed_in? %>
    Ingresado con el email: <strong><%= current_user.email %></strong>. <br>
  <% else %>
    <%= link_to "Crear Cuenta", new_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Iniciar Sesión", new_user_session_path, :class => 'navbar-link' %>
  <% end %>
</p>
-->

<%= render "index" %>

<p id="notice"><%= notice %></p>