<p id="notice"><%= notice %></p>

<h1>Niveles de Retos</h1>

<table>
  <thead>
    <tr>
      <th>Descripción</th>
      <th>Puntos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @challengelevels.each do |challengelevel| %>
      <tr>
        <td><%= challengelevel.descripcion %></td>
        <td><%= challengelevel.puntos %></td>
        <td><%= link_to 'Ver', challengelevel %></td>
        <td><%= link_to 'Editar', edit_challengelevel_path(challengelevel) %></td>
        <td><%= link_to 'Eliminar', challengelevel, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Nivel de Reto', new_challengelevel_path %>
<br>
<br>
<%= link_to 'Regresar', home_index_path %>
