</br>
</br>
</br>
<div class="card">
  <div class="container-fliud">
    <div class="wrapper row">
      <div class="preview col-md-6">

        <div class="preview-pic tab-content">
          <% @challenge.attachments.each_with_index do |attachment, index| %>
            <div class="tab-pane <%= index == 0 ? 'active' : '' %>" id="pic-<%=attachment.id%>">
              <%= image_tag(attachment.file.url) %>
            </div>
          <% end %>
        </div>

        <ul class="preview-thumbnail nav nav-tabs">
          <% @challenge.attachments.each_with_index do |attachment, index| %>
            <li class="<%= index == 0 ? 'active' : '' %>">
              <a data-target="#pic-<%= attachment.id %>" data-toggle="tab">
                <%= image_tag(attachment.file.url) %>
              </a>
            </li>
          <% end %>
        </ul>

      </div>
      <div class="details col-md-6">
        <h6 class="sizes"><%= t(:challenge_level) %>: <%= @challenge.challengelevel.descripcion %></h6>
        <h6 class="sizes"><%= t(:description) %>: <%= @challenge.descripcion %></h6>
      </div>
    </div>
  </div>
</div>
