</br>
</br>
</br>
</br>
<div class='container'>
  <div class="card">
    <div class="card-header">
      <%= t(:current_challenges) %>
      <%= link_to t(:completed_challenges), challenge_users_show_hist_path, style: 'float: right;' %>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#<%= t(:id) %></th>
            <th scope="col"><%= t(:description) %></th>
            <th scope="col"><%= t(:user_name) %></th>
            <th scope="col"><%= t(:start_date) %></th>
            <th scope="col"><%= t(:end_date) %></th>
            <th scope="col"><%= t(:actions) %></th>
          </tr>
        </thead>
        <tbody>
          <% @challengeusers.each do |challenge| %>
            <tr>
              <th scope="row"><%= challenge.challenge.id %></th>
              <td><%= link_to challenge.challenge.descripcion, challenge_path(challenge.challenge) %></td>
              <td><%= challenge.user.nombre %></td>
              <td><%= challenge.fechainicio %></td>
              <td><%= challenge.fechafin %></td>
              <td><%= link_to t(:complete), {:controller => "challenge_users", :action => "finalizar", :id => challenge.id} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to t(:back), root_path %>
</div>