</br>
</br>
</br>
</br>
<div class='container'>
  <div class="card">
    <div class="card-header">
      <%= t(:completed_challenges) %>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#<%= t(:id) %></th>
            <th scope="col"><%= t(:description) %></th>
            <th scope="col"><%= t(:user_name) %></th>
            <th scope="col"><%= t(:start_date) %></th>
            <th scope="col"><%= t(:end_date) %></th>
          </tr>
        </thead>
        <tbody>
          <% @challengeusers.each do |challengeuser| %>
            <tr>
              <th scope="row"><%= challengeuser.challenge.id %></th>
              <td><%= link_to challengeuser.challenge.descripcion, challenge_path(challengeuser.challenge) %></td>
              <td><%= challengeuser.user.nombre %></td>
              <td><%= challengeuser.fechainicio %></td>
              <td><%= challengeuser.fechafin %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
