</br>
</br>
</br>
</br>
<div class='container'>
  <div class="card">
    <div class="card-header">
      Current Challenges
      <%= link_to 'Completed Challenges', challenge_users_show_hist_path, style: 'float: right;' %>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#Id</th>
            <th scope="col">Description</th>
            <th scope="col">User Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @challengeusers.each do |challenge| %>
            <tr>
              <th scope="row"><%= challenge.challenge.id %></th>
              <td><%= challenge.challenge.id %></td>
              <td><%= challenge.user.nombre %></td>
              <td><%= challenge.fechainicio %></td>
              <td><%= challenge.fechafin %></td>
              <td><%= link_to "Complete", {:controller => "challenge_users", :action => "finalizar", :id => challenge.id} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>