<h1>Historial de Retos</h1>
<br>
<br>


<table>
  <tr>
    <th>RetoId</th>
    <th>RetoDescripcion</th>
    <th>UsuarioId</th>
    <th>UsuarioNombre</th>
    <th>FechaInicio</th>
    <th>FechaFin</th>
    <th></th>
  </tr>

  <% @challengeusers.each do |challengeuser| %>
    <tr>
      <td><%= challengeuser.challenge.id %></td>
      <td><%= challengeuser.challenge.descripcion %></td>
      <td><%= challengeuser.user.id %></td>
      <td><%= challengeuser.user.nombre %></td>
      <td><%= challengeuser.fechainicio %></td>
      <td><%= challengeuser.fechafin %></td>
    </tr>
  <% end %>

</table>


<br>
<br>
<br>
<br>
<%= link_to 'Regresar', challenge_users_index_path %>
